<html>
<body>
<h2>2nd-Party Attestations (Sample)</h2>
========<br>
<b>Transaction</b>
&nbsp; Transaction ID: add04452-0ed0-c544-beef-28542abc70ef <br>
&nbsp; Recipient ID: a3d55f0f-b139-4d80-aba6-016b07285f97 <br>
&nbsp; Sender ID: 5b40fde2-9014-4de5-bcfb-894bbfd1b7a7 <br>
&nbsp; File ID: bbcef5208ac4bc419cd81ae02efef5bc6540babac1224fff197d0cc01bca121f
<br>
<br>
<b>File Data:</b><br>
{<br>
&nbsp;"attestor-name": "Toufi",<br>
&nbsp;"attestor-email": "toufi@toufi.ai",<br>
&nbsp;"attestee-name": "Barry",<br>
&nbsp;"attestee-email": "barry@whoknows.com",<br>
&nbsp;"attestations": [<br>
&nbsp;&nbsp;&nbsp;&nbsp;{<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"type": "skill",<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name": "Python",<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"comment": "He knows about mutable default arguments!",<br>
&nbsp;&nbsp;&nbsp;&nbsp;},<br>
&nbsp;&nbsp;&nbsp;&nbsp;{<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"type": "generic",<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"comment": "He meant I smell wonderful.",<br>
&nbsp;&nbsp;&nbsp;&nbsp;}<br>
&nbsp;&nbsp;]<br>
}<br>
========<br>


</body>
</html>
